body
{
	margin: 0;
	padding: 0;
	background: url(../image/bg7.jpg);
	font-family: sans-serif;
	background-size: cover;
	
	
	
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.label1 {
    color: red;
    font-weight: bold;
}

.signupBox
{
	position : absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	width: 500px;
	min-height:200px;
	background:#fff;
	border-radius:10px;
	padding:40px;
	box-sizing: border-box;
	
}

.user
{
	margin:0 auto;
	display: block;
	margin-bottom: 20px;
}

h3
{
	margin :0;
padding :0 0 20px;
color:#262626;
text-align:center


}

.signupBox input
{
	width: 100%;
	margin-bottom: 30px;
	

}
.signupBox input[type="text"],
.signupBox input[type="password"]
{
	border: none;
	border-bottom: 2px solid #262626;
	outline: none;
	height: 40px;
	color : #262626;
	background: transparent;
	font-size:16px;
	padding: 20px;
	box-sizing: border-box;
}



.signupBox input[type="text"]:focus,
.signupBox input[type="password"]:focus
{
	border-bottom: 2px solid #f00;
}


.inputBox
{
	Position: relative;
}
.inputBox span 
{
	position: absolute;
	top: 10px;
	color: #262626;
}


.signupBox input[type="submit"]
{
	border: none;
	outline: none;
	height : 40px;
	font-size:16px;
	background:#ed292a;
	color:#fff;
}
.signupBox a
{
	color : #262626;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	text-align :center;
	display:block;

}



